
.navbar .navbar-brand {
	color: rgba(255, 255, 255, .85);
	font-size: 1rem;
	padding-top: .45rem;
}

.jumbotron {
	background: url('../img/universe.jpg');
	background-size: cover;
}

.btn,
.active {
	transition: .4s;
}

.bg-primary {
	color: #fff !important;
	background-color: #000 !important;
}